<mat-toolbar color="primary">
  <mat-toolbar-row>
   <button mat-button routerLink="/videos">Videos</button>
    <button mat-button routerLink="/e-mail">email</button>
    <button mat-button >help center</button>
    <span class="flex-fill"> </span>
    <button mat-button [matMenuTriggerFor]="settings">Mosajjid khan
            <mat-icon>expand_more</mat-icon>
  </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu [overlapTrigger] ="false" #settings ="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    Account
  </button>
  <button mat-menu-item>profile</button>
  <button mat-menu-item routerLink="/login">Logout</button>
</mat-menu>

