<h2>Welcome to my login page</h2>

<div style="display: flex;justify-content: center; align-items:center;height:60%">
<mat-card style="width:600px; margin: 20px; display: flex; justify-content: center; align-items: center; height: 70%">

<div style="display: flex;justify-content: center; align-items:center;height:50%">
  <mat-card style="width:500px; margin: 25px; flex-shrink:1">
  
    <form [formGroup]="loginForm" style="display: flex; flex-direction: column" (submit) ="login(); $event.preventDefault()">
      <mat-form-field>
      <input formControlName="email" id="hello" matInput placeholder="email" type="text">
        <mat-error>invalid email </mat-error>
      </mat-form-field>

      <mat-form-field>
      <input [formControl]="passwordControl" matInput placeholder ="password" type="password">
        <mat-error> invalid password</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" style="align-self: flex-end" >Login</button>
      <span>Create new Account   <a routerLink ="/sign-up">Click here</a></span>


    </form>

  </mat-card>
</div>

</mat-card>
</div>
